body {
	background-color:		#F6F0DB;
}

#whole_page_container {
	margin:					auto;
}

html * {
    color:                  #555;
    font:                   normal normal normal 1.1em/1.1em Geneva, Helvetica, "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
}

p, li, dd, dt {
	font-size:				75%;
	line-height:			1.7em;
}

strong {
    font-weight:            bold;
}

h1 {
    color:                  #940029;
    font-variant:           small-caps;
    font-size:              200%;
}

h2 {
    color:                  #7F6B43;
    font-size:              95%;
}

#title {
	margin-bottom:			20px;
	text-align:				center;
}

